body {
    background-color:black;
}



h1 {
    color:whitesmoke;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Indie Flower', cursive;
}

h3 {
    color:whitesmoke;
    font-size: 50px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

a  {
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 20px;
    display: block;
    border-radius: 10px;
    border: 5px whitesmoke;
    text-align: center;
    font-size: 2.5em;
    text-decoration: none;
    color:whitesmoke;
    font-family: 'Indie Flower', cursive;
    padding:auto;
}

div a:hover {
    color: balck;
    background-color: grey;
}