body {
    margin: 0;
    padding: 0;
}

#game-screen {
    display: block;
}

#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

a,h1,h2,h3 {
    font-family: 'Indie Flower', cursive;
    color: whitesmoke;
    text-align: center;
}

.title {
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton {
    border: 2px solid whitesmoke;
    border-radius: 15px;
}

#restartButton:hover {
    background-color: grey;
}

#scoreboard {
    margin: 0px;
}

#mainMenu {
    border: 2px solid whitesmoke;
    border-radius: 15px;
}

#mainMenu:hover {
    background-color: grey;
}

a {
    display:block;
}